<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Hot News
                </h1>
        </div>
    </div>
    <!-- /.row -->

    <div ng-repeat="item in items track by $index">
        <hr>
        <div class="row">
            <div class=" col-lg-7 col-sm-9">
                <a href="#">
                    <img ng-src={{item.image}} alt="Description" />
                </a>
            </div>
            <div class="col-lg-5 col-sm-8" style="padding-left:30px">
                <h3>{{item.title}}</h3>
                <p>{{item.description}}</p>
                <a class="btn btn-primary" href={{item.link}} target="_blank" ng-click="sendUserHistory(item.articleId,'1234')">Read more <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>